*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #0A192F;
}

header {
  display: flex;
  flex-direction: column;
}

img {
  height: 100px;
  width: 100px;
  margin: auto 75px;
  border-radius: 50%;
}

a {
  margin: 2px;
  text-decoration: none;
  color: #51D2B9;
  font-size: 1rem;
}

a:hover {
  color: #CCD6F6;
}

hr {
  margin: 5px;
  height: 2px;
  border-color:#CCD6F6;
  color:#CCD6F6;
}


nav {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

ul{
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 15px;
}

p, ul {
  color: #51D2B9;
}

h1 {
  margin: 2px;
  padding-left: 10px;
  font-size: 2.25rem;
  color: #CCD6F6;
}

h2{
  margin: 1px;
  font-size: 1.5rem;
  color: #CCD6F6;
}

li{
  margin: 5px;
}

.navegacion{
  margin: auto;
}

.contenedor {
  max-width: 1400px;
  margin: auto;
}

.fa-solid, .fa-mobile {
  margin-right: 5px;
}

h2, .respuestas, nav, .experiencia {
  text-align: center;
}

.preguntas {
  display: none;
}

.descripcion {
  display: none;
}

#perfil{
  display: none;
}


@media (min-width:720px) {
  a {
    margin-right: 20px;
  }
  
  hr {
    display: none;
  }
  nav{
    display: none;
  }

  img{
    height: 200px;
    width: 200px;
  }

  .contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
  }

  #perfil {
    margin-top: 50px;
    display: block;
  }

  .preguntas {
    display: block;
  }

  .descripcion {
    display: block;
    margin-top: 25px;
    text-align: initial;
  }

  .cabecera {
    background-color: brown;
    text-align: center;
  }

  #datos-personales{
    margin-top: 50px;
  }

  #datos-personales .respuestas{
    margin-top: 20px;
  }

  #formacion {
    margin-top: 15px;
  }

  #formacion .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #formacion .respuestas {
    text-align: initial;
  }

  #experiencia-laboral, #habilidades {
    margin-top: 50px;
  }

  .trabajo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .trabajo-jaguar, .trabajo-urbano {
    text-align: initial;
  }

} 