*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
}

img {
  height: 100px;
  width: 100px;
  margin: auto 75px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px black;
}

a {
  margin: 2px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

a:hover {
  color: #CCD6F6;
}

nav {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

ul{
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  margin: 15px;
}

p, ul {
  color: #00786e;
}

h1 {
  margin: 2px;
  padding-left: 10px;
  font-size: 2.5rem;
  color: #CCD6F6;
}

h2{
  margin: 1px;
  font-size: 1.6rem;
  color:black;
}

li{
  margin: 5px;
}

.navegacion{
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #01998C;
}

.contenedor {
  max-width: 1400px;
  margin: auto;
}

.fa-solid, .fa-mobile {
  margin-right: 5px;
}

h2, .respuestas, nav, .experiencia {
  text-align: center;
}

.preguntas {
  display: none;
}

.descripcion {
  display: none;
}

#perfil{
  display: none;
}

#habilidades {
  border-top: 1px solid black;
}

#formacion {
  border-top: 1px solid black;
}

#datos-personales {
  border-top: 1px solid black;
}

button {
  display: none;
}


@media (min-width:720px) {
  a {
    margin-right: 20px;
  }
  
  nav{
    display: none;
  }

  img{
    height: 200px;
    width: 200px;
  }

  ul{
    text-align: initial;
  }

  h1{font-size: 3rem;}
  
  h2{font-size: 2rem;}

  p, a, ul{
    font-size: 1.2rem;
  }

  .contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
  }

  .preguntas {
    display: block;
  }

  .descripcion {
    display: block;
    text-align: initial;
  }

  .cabecera {
    background-color: #01998C;
    text-align: center;
  }

  #perfil {
    margin-top: 40px;
    display: block;
    border-top: 1px solid #CCD6F6;
  }

  #perfil p{
    color: black;
  }

  #datos-personales{
    margin-top: 40px;
    border-top: 1px solid #CCD6F6;
  }

  #datos-personales .respuestas{
    margin-top: 20px;
  }

  #perfil h2, #datos-personales h2{
    color: #CCD6F6;
  }

  #datos-personales p{
    color: black;
  }

  #formacion {
    margin-top: 15px;
    border-top: 0;
  }

  #formacion .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #formacion .respuestas {
    text-align: initial;
  }

  #experiencia-laboral, #habilidades {
    margin-top: 50px;
    border-top: 1px solid black;
  }

  button {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50%;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #00786e;
    border-radius: 7px;
    box-shadow: 1px 4px 10px 0px #00786e ; 
    border: 1px solid #00786e;
  }

  #refer-primer {
    display: none;
  }

  #refer-segundo {
    display: none;
  }

  .trabajo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .trabajo-jaguar, .trabajo-urbano {
    text-align: initial;
  }

} 